In [197]:
#I certify that the code and data in this assignment were generated independently, 
#using only the tools and resources defined in the course and that I did not receive any external help, 
#coaching or contributions during the production of this work.

In [198]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [199]:
penguin = pd.read_csv("penguins_size.csv")

In [200]:
penguin.size

2408

In [201]:
penguin.shape

(344, 7)

In [202]:
penguin.isnull().sum()

species               0
island                0
culmen_length_mm      2
culmen_depth_mm       2
flipper_length_mm     2
body_mass_g           2
sex                  10
dtype: int64

In [203]:
mode1 = penguin['culmen_length_mm'].mode()
print(mode1)

0    41.1
dtype: float64

In [204]:
penguin['culmen_length_mm'] = penguin['culmen_length_mm'].fillna(41.1)

In [205]:
mode2 = penguin['culmen_depth_mm'].mode()
print(mode2)

0    17.0
dtype: float64

In [206]:
penguin['culmen_depth_mm'] = penguin['culmen_depth_mm'].fillna(17.0)

In [207]:
mode3 = penguin['flipper_length_mm'].mode()
print(mode3)

0    190.0
dtype: float64

In [208]:
penguin['flipper_length_mm'] = penguin['flipper_length_mm'].fillna(190.0)

In [209]:
mode4 = penguin['body_mass_g'].mode()
print(mode4)

0    3800.0
dtype: float64

In [210]:
penguin['body_mass_g'] = penguin['body_mass_g'].fillna(3800.0)

In [211]:
mode5 = penguin['sex'].mode()
print(mode5)

0    MALE
dtype: object

In [212]:
penguin['sex'] = penguin['sex'].fillna('MALE')

In [213]:
penguin.isnull().sum()

species              0
island               0
culmen_length_mm     0
culmen_depth_mm      0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [214]:
penguin.describe()

       culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
count        344.000000       344.000000         344.000000   344.000000
mean          43.905523        17.150291         200.851744  4199.418605
std            5.447882         1.969061          14.045266   800.197923
min           32.100000        13.100000         172.000000  2700.000000
25%           39.275000        15.600000         190.000000  3550.000000
50%           44.250000        17.300000         197.000000  4025.000000
75%           48.500000        18.700000         213.000000  4750.000000
max           59.600000        21.500000         231.000000  6300.000000

In [215]:
print(penguin.dtypes)

species               object
island                object
culmen_length_mm     float64
culmen_depth_mm      float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
dtype: object

In [216]:
penguin['species'] = pd.Categorical(penguin.species)
penguin['island'] = pd.Categorical(penguin.island)
penguin['sex'] = pd.Categorical(penguin.sex)

In [217]:
print(penguin.dtypes)

species              category
island               category
culmen_length_mm      float64
culmen_depth_mm       float64
flipper_length_mm     float64
body_mass_g           float64
sex                  category
dtype: object

In [218]:
clen_min = penguin['culmen_length_mm'].min()
clen_max = penguin['culmen_length_mm'].max()

cdep_min = penguin['culmen_depth_mm'].min()
cdep_max = penguin['culmen_depth_mm'].max()

flen_min = penguin['flipper_length_mm'].min()
flen_max = penguin['flipper_length_mm'].max()

mass_min = penguin['body_mass_g'].min()
mass_max = penguin['body_mass_g'].max()

print('For culmen length, minimum value =',clen_min ,'maximum value =',clen_max)
print('For culmen depth, minimum value =',cdep_min ,'maximum value =',cdep_max)
print('For flipper length, minimum value =',flen_min ,'maximum value =',flen_max)
print('For body mass, minimum value =',mass_min ,'maximum value =',mass_max)

For culmen length, minimum value = 32.1 maximum value = 59.6
For culmen depth, minimum value = 13.1 maximum value = 21.5
For flipper length, minimum value = 172.0 maximum value = 231.0
For body mass, minimum value = 2700.0 maximum value = 6300.0

In [219]:
#normalize function
def normalize(value,minimum,maximum):
    norm = (value - minimum)/(maximum - minimum)
    return(norm)

In [220]:
#normalizing culmen_length_mm
for i in range(0,344):
    norm_value = normalize(penguin['culmen_length_mm'][i],clen_min,clen_max)
    penguin['culmen_length_mm'][i] = norm_value

print(penguin['culmen_length_mm'])

0      0.254545
1      0.269091
2      0.298182
3      0.327273
4      0.167273
         ...
339    0.327273
340    0.534545
341    0.665455
342    0.476364
343    0.647273
Name: culmen_length_mm, Length: 344, dtype: float64

C:\Users\anude\AppData\Local\Temp/ipykernel_13032/2619956320.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  penguin['culmen_length_mm'][i] = norm_value

In [221]:
#normalizing culmen_depth_mm
for i in range(0,344):
    norm_value = normalize(penguin['culmen_depth_mm'][i],cdep_min,cdep_max)
    penguin['culmen_depth_mm'][i] = norm_value

print(penguin['culmen_depth_mm'])

0      0.666667
1      0.511905
2      0.583333
3      0.464286
4      0.738095
         ...
339    0.464286
340    0.142857
341    0.309524
342    0.202381
343    0.357143
Name: culmen_depth_mm, Length: 344, dtype: float64

C:\Users\anude\AppData\Local\Temp/ipykernel_13032/2884044617.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  penguin['culmen_depth_mm'][i] = norm_value

In [222]:
#normalizing flipper_length_mm
for i in range(0,344):
    norm_value = normalize(penguin['flipper_length_mm'][i],flen_min,flen_max)
    penguin['flipper_length_mm'][i] = norm_value

print(penguin['flipper_length_mm'])

0      0.152542
1      0.237288
2      0.389831
3      0.305085
4      0.355932
         ...
339    0.305085
340    0.728814
341    0.847458
342    0.677966
343    0.694915
Name: flipper_length_mm, Length: 344, dtype: float64

C:\Users\anude\AppData\Local\Temp/ipykernel_13032/4141225134.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  penguin['flipper_length_mm'][i] = norm_value

In [223]:
#normalizing body_mass_g
for i in range(0,344):
    norm_value = normalize(penguin['body_mass_g'][i],mass_min,mass_max)
    penguin['body_mass_g'][i] = norm_value

print(penguin['body_mass_g'])

0      0.291667
1      0.305556
2      0.152778
3      0.305556
4      0.208333
         ...
339    0.305556
340    0.597222
341    0.847222
342    0.694444
343    0.750000
Name: body_mass_g, Length: 344, dtype: float64

C:\Users\anude\AppData\Local\Temp/ipykernel_13032/2112851355.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  penguin['body_mass_g'][i] = norm_value

In [268]:
traininglen = int(0.8 * len(penguin))  #80% training data and remaining 20% test data
testinglen = len(penguin[trainSize:])
X_train = np.array(penguin.loc[:, penguin.columns != 'sex'][:traininglen])
y_train = np.array(penguin['island'][:traininglen])
X_test = np.array(penguin.loc[:, penguin.columns != 'sex'][traininglen:])
y_test = np.array(penguin['island'][traininglen:])

In [270]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(275, 6)
(275,)
(69, 6)
(69,)